<?xml version="1.0"?>
<config>
  <modules>
    <Bitshares_Bitshares>
      <version>0.1.0</version>
    </Bitshares_Bitshares>
  </modules>
  <global>
    <models>
      <Bitshares>
        <class>Bitshares_Bitshares_Model</class>
      </Bitshares>
    </models>
    <helpers>
      <Bitshares>
        <class>Bitshares_Bitshares_Helper</class>
      </Bitshares>
    </helpers>
    <blocks>
      <Bitshares>
        <class>Bitshares_Bitshares_Block</class>
      </Bitshares>
    </blocks>
  </global>
  <default>
    <payment>
      <Bitshares>
        <model>Bitshares/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Bitshares</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </Bitshares>
    </payment>
  </default>
  <frontend>
    <routers>
      <Bitshares>
        <use>standard</use>
        <args>
          <module>Bitshares_Bitshares</module>
          <frontName>Bitshares</frontName>
        </args>
      </Bitshares>
    </routers>
  </frontend>
</config>
